body , html {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 50%;
    width: 50%;
    background-color: rgb(81, 46, 46);
    display: flex;
}

.card .left{
    height: 100%;
}
.card .left img{
    width: 60%;
}
